*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: antiquewhite;
}

@media screen and (max-width: 991px) {
    h1{
        color: brown;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        background-color: blueviolet;
        color: beige;
    }


    img{
        display: block;
    }
    
}



