* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #c1baad;
}

.cabecalho {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.titulo--cinza {
    
    color: white;
}

.titulo--vermelho {
    color: #621309;
}


.input--dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.input--metade {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #70675d;
    border-radius: 4px;
}

.input--metade::placeholder{
    color: #c1baad;

}

.btn--cadastro {
    padding: 10px 20px;
    background-color: #621309;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.produtos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.produto {
    text-align: center;
    width: 350px;
    height: 30%;
    background-color: transparent;
    border: 2px solid #887b6d;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.4s, margin-top 0.4s;
}

.produto:hover {
    box-shadow: 1px 1px 15px rgb(255, 255, 255);
    margin-top: -15px;
}

.produto h2 {
    color: #621309; 
}
.produto p {
    color:  #70675d; 
}

.produto img {
    width: 300px;
    height: 300px;
}   