@font-face{
    font-family: ;
    

}@font-face {
    font-family: architech;
    src: url(./fonts/Playwrite_IE/PlaywriteIE-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #18a2c9, #72c3bd);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
}

.header__logo {
    width: 100px;
}

.header__text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.header__title {
    font-family: architech;
    color: #DED27C;
}

.contact-form {
    padding: 20px;
}

.contact-form__linha {
    display: flex;
}

.contact-form__col-a {
    width: 10%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.contact-form__col-b {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contact-form__col-c {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form__label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.contact-form__input{
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    color: #18a2c9;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    margin-top: 15px;
}

.contact-form__input:focus{
    border: 1px solid white;
    color: white;
    background-color: #72c3bd;
}

.contact-form__input--metade {
    width: 49%;
    height: 35px;
}

.contact-form__input--tamanho {
    width: 100%;
    height: 35px;
}

.contact-form__input--tamanho3 {
    width: 100%;
    height: 150px;
}

.contact-form__input--tres-metades {
    width: 30%;
    height: 35px;
}

.contact-form__input--metade2 {
    width: 40%;
    height: 35px;
}

.contact-form__input--tres-metades2 {
    width: 29%;
    height: 35px;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contact-button__cadastro{
    width: 400px;
    height: 45px;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 3px;
}

.contact-button__entrar{
    width: 400px;
    height: 45px;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 3px;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;@font-face {
    font-family: architech;
    src: url(./fonts/Playwrite_IE/PlaywriteIE-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #18a2c9, #72c3bd);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
}

.header__logo {
    width: 100px;
}

.header__text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.header__title {
    font-family: architech;
    color: #DED27C;
}

.contact-form {
    padding: 20px;
}

.contact-form__linha {
    display: flex;
}

.contact-form__col-a {
    width: 10%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.contact-form__col-b {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contact-form__col-c {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form__label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.contact-form__input{
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    color: #18a2c9;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    margin-top: 15px;
}

.contact-form__input:focus{
    border: 1px solid white;
    color: white;
    background-color: #72c3bd;
}

.contact-form__input--metade {
    width: 49%;
    height: 35px;
}

.contact-form__input--tamanho {
    width: 100%;
    height: 35px;
}

.contact-form__input--tamanho3 {
    width: 100%;
    height: 150px;
}

.contact-form__input--tres-metades {
    width: 30%;
    height: 35px;
}

.contact-form__input--metade2 {
    width: 40%;
    height: 35px;
}

.contact-form__input--tres-metades2 {
    width: 29%;
    height: 35px;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contact-button__cadastro{
    width: 400px;
    height: 45px;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 3px;
}

.contact-button__entrar{
    width: 400px;
    height: 45px;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 3px;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

    margin: 0 auto;
   /* border: 1px solid white ;*/
}

.container--flex--column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 10px 0;
   /* height: 80px;*/
  /*  border: 1px solid salmon;*/
}


.header__logo{
   
    width:100px;

}

.header__title{
    font-family: Architect;

    color: #a77cde;
}

.header__text{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
    
}

.contact-form{
  /*  border: 1px solid #DED27C;*/
    padding: 20px 0 ;
}

.contact-form__linha{
    display: flex;
   /* border: 1px solid red;*/
   
}


.contact-form__col-a{
    width: 10%;
    align-items: center;
    display: flex;

}
.contact-form__col-b{
   display: flex;
    width: 90%;
    justify-content: space-between;
    width: 90%;

}

.contact-form__label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.contact-form__input{
    color: #18a2c9;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    padding: 5px 10px;
    transition: background-color 0.04s, color 0.4s, border 0.4s;
}

.contact-form__input--metade{
    width: 48%;
    height: 35px;
}

.contact-form__input--inteiro{
    width: 100%;
    height: 35px;
}


.contact-form__input:focus{

    background-color: #72c3bd;
    color: white;
    border: 1px solid white;
}

.contact-form__input--terco{
    width: 33%;
    height: 35px;
}

.contact-form__input--quarto{
    width: 49%;
    height: 35px;
}

.contact-form__input--meio{
    width: 24%;
    height: 35px;
}
